@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500&display=swap');
@import url('./fonts/gilroy/fonts.css');
@import url('./fonts/gordita/stylesheet.css');
@import url('./fonts/icon/font/flaticon.css');
@import url('./fonts/font-awesome/css/font-awesome.min.css');
@import url('./fonts/gilroy/fonts.css');

@import './scss/animation';
@import './scss/slick';
@import './scss/modal';
@import './scss/404';
// @import './scss/bootstrap';
@import './scss/framework';
@import './scss/mega-menu';
@import './scss/preview';
@import './scss/style';
@import './scss/mobile-menu';
@import './scss/custom-reactify';
@import './scss/dark';
@import './scss/responsive';

:root {
	--goodbg: #18adb4;
	--goodbglight: #8cc6da;
	--goodbgdark: #5588a1;
	--goodbgdeep: #0081c2;
	--goodhighlight: #cff3ff;
}
::-webkit-scrollbar {
	width: 0;
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: var(--goodbglight);
	border-radius: 0;
}
html,
body {
	margin: 0 !important;
	padding: 0 !important;
	min-height: 100%;
	background: var(--goodbg) !important;
	font-family: 'Lato', sans-serif!important;
	color: white!important;
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
	font-family: 'Lato', sans-serif!important;
	color: white!important;
	font-weight: 700;
	letter-spacing: -1px;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container {
	max-width: 100%!important;
}
main {
	margin-top: 10rem;
}
.goodbg {
	background: var(--goodbg) !important;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
header {
	background: var(--goodbg) !important;
}
.topnav {
	border-bottom: 1px solid var(--goodbglight);
	padding: 2rem 0 !important;
}
.lg-header {
	background: #f4b8ab !important;
}
.lg-menu {
	display: flex;
}
.headerlinks {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: white;
}
.headerlinks:hover,
.headerlinks:focus {
	color: white;
}
.effect-1 {
	padding-top: 10px;
	&:before {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background: var(--goodbglight);
		transform: scaleX(0);
	}
	&:hover:before {
		transform: scaleX(1);
	}
}
.activelink {
	color: white !important;
	padding-top: 10px;
	font-weight: 900;
	&:before {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background: var(--goodbglight);
		transform: scaleX(1) !important;
	}
}
.logobox {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.goodlogo {
	margin: 0 0.7rem;
	font-family: 'Lato', sans-serif !important;
	font-weight: 900 !important;
	font-size: 1.9rem !important;
	letter-spacing: -1px !important;
	color: white !important;
	span {
		color: #dcf3ff !important;
	}
}
.goodtitle {
	font-size: 5rem;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin: 1rem auto;
	color: white !important;
}
.goodsubtitle {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	margin: 2rem auto 3rem;
	color: white !important;
}

a {
	position: relative;
	color: inherit;
	text-decoration: none;
	line-height: 24px;
	&:before,
	&:after {
		content: '';
		position: absolute;
		transition: transform 0.5s ease;
	}
}
.intro {
	height: 100%;
}
.navtabs {
	z-index: 9998;
	background: white !important;
	color: var(--goodbgdark);
	font-weight: 500;
	a,
	span {
		color: var(--goodbgdark);
	}
	.activetab {
		color: rgb(42, 72, 114) !important;
		font-weight: 700;
	}
}
.pagetitle {
	text-align: center;
	color: white !important;
	font-size: 50px;
	margin: 0 auto 2rem;
	font-weight: 700;
	font-family: 'Lato';
	letter-spacing: -1px;
}
.goodcontainer {
	padding: 5rem 10rem;
	background: white;
	border-radius: 20px;
	margin: 3rem auto;
}
.madewithlove {
	text-align: center;
	margin: 3rem auto;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	a {
		font-weight: 900;

		&:hover {
			color: white;
		}
		&:before {
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background: var(--goodbglight);
			transform: scaleX(0);
		}
		&:hover:before {
			transform: scaleX(1);
		}
	}
}
.cs-screen {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.counter {
	text-align: justify;
	text-align: center;
	margin: 0;
	h1 {
		font-size: 2.5rem !important;
		color: var(--goodhighlight);
		font-weight: 900;
		font-family: 'Lato';
		letter-spacing: -1px;
		text-transform: uppercase;
		line-height: 1;
	}
	span {
		font-size: 5rem !important;
		color: white;
		font-weight: 900;
		font-family: 'Lato';
		letter-spacing: -1px;
		text-transform: uppercase;
		line-height: 1.2;
	
		&.popcat {
			font-size: 4rem !important;
			display: block;
			margin: -10px auto -10px;
		}
	}
	.extra span {
		color: white;
		font-weight: 900;
		font-family: 'Lato';
		letter-spacing: -1px;
		text-transform: uppercase;
		line-height: 1.2;
		font-size: 5rem !important;
	}
	.extratitle {
		font-size: 2.3rem !important;
		color: var(--goodhighlight);
	}
	.extrasubtitle {
		font-size: 2rem!important;
		color: var(--goodhighlight);
	}
}

.add-to-home-screen-pwa {
	z-index: 9999!important;
}

.shareicons {
	display: flex;
	justify-content: space-between;
	width: 120px;
	margin: 0 auto;
	margin-top: 10px;

	.mobile {
		display: none;
	}
}

.bg-sky-600 {
	--tw-bg-opacity: 0.3!important;
}

.introbtn {
	min-width: 400px;
	min-height: 60px;
	background: var(--goodbgdeep)!important;
	font-family: 'Lato', sans-serif!important;
	font-weight: 700!important;
	color: #fff!important;
	text-transform: none!important;
	font-size: 1.2rem!important;
	border: none!important;

	&:hover {
		background:#0272ab!important;
	}
}

.infobtn {
	height: 45px!important;
	font-size: 14px!important;
	margin: 0;
	padding: 0!important;
	background: var(--goodhighlight)!important;
	color: #333!important;
	text-transform: none!important;
	font-family: 'Lato', sans-serif!important;
	border: none!important;
}
.stat-desc {
	grid-column-start: 1;
    white-space: nowrap;
    font-size: 0.9rem;
    line-height: 1rem;
    opacity: 1;
    color: #fcff58;
    font-weight: 900;
	line-height: 1.3rem;
	white-space: pre-wrap;
}
.catbtn {
	background: var(--goodbglight) !important;
	color: #2c5e72;
	width: 320px!important;
}
.activecat {
	background: #5f8a9f!important;
	color: white;
}
.stats {
	width: 320px!important;
	height: 380px!important;
	background: var(--goodbglight) !important;
	color: #2c5e72!important;
}

.stat-subtitle {
	color: #2c5e72!important;
}

.mobile-show {
	display: none;
}
.mobile-hide {
	display: flex;
}


/* ------------------------------------- good app stuff --------------------------------------------------- */

.App {
	margin: 0 auto;
}
#app {
	padding: 0 !important;
}
.asdf {
	position: relative;
	z-index: 5;
}

.asdf:before {
	background: rgba(241, 193, 83, 0.4);
	bottom: 12px;
	content: '';
	height: 25px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.stories > div:first-of-type {
	background: white !important;
	margin: 0 auto;
}

.stories > div {
	// width: var(24vw) !important;
	// height: calc((15.3 / 9) * var(24vw)) !important;
	width: 360px !important;
	height: 620px !important;
	border-radius: 15px;
	filter: none !important;
}

.stories > div > div:first-child {
	border: none!important;
	width: 90%!important;
	height: 50px!important;
	margin: 1rem auto 0;
	z-index: 9998!important;
}

.stories > div > div {
	// width: var(24vw) !important;
	// height: calc((15.3 / 9) * var(24vw)) !important;
	width: 360px !important;
	height: 620px !important;
	border: 11px solid white;
	border-radius: 15px;
	filter: none !important;
}

.stories > div > div:first-of-type > div {
	height: 7px !important;
	margin: 0 3px!important;
}

.stories > div > div > div {
	padding: 0 !important;
	margin: 0 !important;
	z-index: 9997 !important;
}

.stories > div > div:nth-child(3) > div:first-child {
	margin-right: 150px!important;
}

.stories > div > div > div > video {
	padding: 0 !important;
	margin: 0 !important;
	border-radius: 10px;
}

.seeMore {
	padding: 2rem;
	color: #16161d;
	background: white;
	height: -webkit-fill-available;
}

.seeMore input,
.seeMore textarea {
	display: block;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.8rem;
	margin-bottom: 0.7rem;
	width: -webkit-fill-available;
	transition: filter 300ms ease-in-out;
	font-size: 0.8rem;
	font-family: inherit;
}

.seeMore input:focus,
.seeMore textarea:focus {
	outline: none;
}

.seeMore button {
	display: block;
	margin: auto;
	margin-top: 1rem;
	background: #16161d;

	color: snow;
	border-radius: 5px;
	border: none;
	width: 200px;
	padding: 0.5rem;
	font-size: 1rem;
	transition: filter 300ms ease-in-out;
}

.seeMore button:focus {
	outline: none;
}

.seeMore button:hover {
	cursor: pointer;
}

.seeMore a {
	display: block;
	font-size: 0.8rem;
	width: fit-content;
	margin: auto;
	margin-top: 2rem;
}

code {
	font-family: 'Source Code Pro', monospace;
}

.updates {
	max-height: 30vh;
	overflow: scroll;
}

.updates p {
	margin: 2px;
}

.contentStyle {
	text-align: center;
	background: #0081c2;
	width: 100%;
	height: 100%;
	color: white;
	border-radius: 10px;
	line-height: 1;
  }

  .ad-placeholder {
	  background-color: #00496d;
	  text-align: center;
	  align-items: center;
	  justify-content: center;
	  display: flex;
	  h1, h2, h3 {
		color: white!important;
	  }
  }

  .happybird {
	  width: 100%;
	  height: 100%;
  }

  .bird {
	width: 100%;
	height: 100%;
	min-height: 600px;
	border-radius: 30px;
  }

/* ------------------------------------- pwa mobile fixes --------------------------------------------------- */

@media screen and (max-width: 1330px) {
	.topnav {
		padding: 2rem !important;
	}
	.goodcontainer {
		margin: 3rem 2rem;
	}
}
@media screen and (max-width: 1092px) {
.catbtn {
	width: 100%!important;
	min-width: 230px;
}
.stats {
	width: 100%!important;
	max-width: 230px;
}
.md-hide {
	display: none !important;
}
}
@media screen and (max-width: 991px) {
	.sm-hide {
		display: none !important;
	}
	.goodtitle {
		font-size: 3.5rem;
		margin: 2rem auto;
	}
	.shareicons {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.mobile-hide {
		display: none !important;
	}
	.mobile-show {
		display: flex !important;
	}
	.catbtn {
		width: 100%!important;
		min-width: 320px;
	}
	.stats {
		width: 100%!important;
		max-width: 100%;
		min-width: 320px;
	}
	.happybird {
		width: 100%;
		height: 80vh;
		margin: 1rem;
	}
  
	.bird {
	  width: 100%;
	  height: 100%;
	  min-height: 100%;
	  border-radius: 0;
	}

	}
@media screen and (max-width: 639px) {
	html,
	body {
		overflow: auto;
	}
	br {
		display: block;
	}
	.goodcontainer {
		padding: 5rem 1rem;
		margin: 0;
		border-radius: 0;
		height: 100vh;
	}
	.pagetitle {
		display: none !important;
	}
	.madewithlove {
		display: none !important;
	}
	.topnav {
		text-align: left;
		justify-content: space-between;
		width: 100%;
		margin: 0 1rem;
		padding: 2rem 0 1rem !important;
		// border-bottom: none;
	}
	.goodbg {
		background: var(--goodbg) !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}
	.goodtitle {
		font-size: 2.3rem;
		margin: 1rem auto;
	}
	.goodsubtitle {
		font-size: 1.25rem;
		margin: 0 auto 3rem;
	}
	.goodbtn {
		width: 100% !important;
		min-width: 100% !important;
	}
	.intro {
		margin: 0;
		padding: 2rem 1rem 0;
	}
	.xs-hide {
		display: none !important;
	}
	#app {
		margin-top: 0 !important;
	}
	main {
		margin-top: 5rem;
	}
	.shareicons {
		display: flex!important;
		justify-content: space-between;
		width: 150px;
		margin: 0 auto;
		margin-top: 10px;
		margin-right: 1rem!important;
	
		.mobile {
			display: block!important;
		}
	}
	.lg-menu {
		margin-right: 1rem;
	}
	.stories > div {
		width: 100vw!important;
		height: 100vh!important;
		border-radius: 0!important;
		filter: none !important;
	}
	
	.stories > div > div:first-child {
		border: none!important;
		width: 90%!important;
		margin: 1rem auto 0;
	}
	
	.stories > div > div {
		width: 100vw!important;
		height: 100vh!important;
		border: none!important;
		border-radius: 0!important;
		filter: none !important;
	}
	.contentStyle {
		border-radius: 0!important;
	}

}






.score-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	margin: 0 auto;
	background: #5EE270;
	font-family: Arial, serif;
	font-size: 1.4em;
	font-weight: bold;
  }